<html>
    <head>
        <title>Express CRUD - Create</title>
    </head>

    <body>
        <h1>Create</h1>

        <form method="post" action="/user">
            <p>First Name</p>
            <input type="text" name="firstName" id="firstName">

            <p>Last Name</p>
            <input type="text" name="lastName" id="lastName">

            <p>
                <input type="submit" value="Save">
            </p>
        </form>
    </body>
</html>