<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Express CRUD - Delete</title>
    </head>
    <body>
        <h1>Delete</h1>

        <p><label>First Name: <%= user.firstName%></label></p>
        <p><label>Last Name: <%= user.lastName%></label></p>

        <form method="delete" action="/<%= user.id%>">
            <p><input type="submit" value="Delete"></p>
        </form>
    </body>
</html>