<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Express CRUD - Update</title>
    </head>

    <body>
        <h1>Update</h1>

        <form method="post" action="/update/<%= user.id%>">
            <p>First Name</p>
            <input type="text" name="firstName" id="firstName" value="<%= user.firstName%>">

            <p>Last Name</p>
            <input type="text" name="lastName" id="lastName" value="<%= user.lastName%>">

            <p><input type="submit" value="Save"></p>
        </form>
    </body>
</html>